@import "bootstrap/dist/css/bootstrap.css";

.header {
  text-align: center;
}
.header .KG-title {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 150%;
  color: #284265;
}
.header .sub {
  color: #313131;
}

.search-container .search .input-search {
  width: 100%;
  max-width: 1184px;
  padding: 16px;
  margin: 0 auto;
}
.cover {
}

col {
  margin-bottom: 1rem;
}
.card-blog {
  margin-top: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #274266;
}

.blog-text,
span {
  font-weight: 400;
  font-size: 16px;
  color: #8e8e93;
  cursor: pointer;
}
span {
  font-size: 14px;
}
.blog-author {
  color: #313131;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  max-height: 25px;
  height: 100%;
}
.blog-footer {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #95b839;
}
